body{display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    /* width:100vw; */
    height: 100vh;}
.title{
    color: white;
    /* text-align: center; */
}
.p1{
    color: white;
    /* text-align: center; */
    font-size: 30px;
    font-weight: bold;
}
.p2{
    color:black;
    /* text-align: center; */
}
